version: "3"
services:
  sshd:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - ROOT_INIT_PASSWORD=1234567
    privileged: true
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    expose:
      - 22/tcp
    ports:
      - 2022:22/tcp
